export NIX_CONFIG="allow-import-from-derivation = true"

eval "$(nix print-dev-env -f ./shell.nix regular)"
eval "$(nix print-dev-env -f ./shell.nix pkgShell)"

if [[ ! -f .env ]]; then
  touch .env
fi
dotenv
